@import '../../css/constants.scss';

.navbar{
  width: 100vw;
  height: 10vh;
  background-color: $secondary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo{
    height: 100%;
    margin-left: 40px;

    &--image{
      height: 100%;
    }
  }

  &__menu{
    display: flex;
    &--link{
      margin: auto 15px;
      text-decoration: none;
      color: $background-color;

      &:hover{
        color: $primary-color;
        transition: color .3s ease-in .1s;
      }

      &:active{
        transform: scaleX(0.8);
        transition: transform .5S ease-in-out .2s;
      }
    }

  }

  &__login{
    margin-right: 40px;
    display: flex;
    
    &--link{
      margin: auto 15px;
      text-decoration: none;
      color: $background-color;

      &:hover{
        color: $primary-color;
        transition: color .3s ease-in .1s;
      }

      &:active{
        transform: scaleX(0.8);
        transition: transform .5S ease-in-out .2s;
      }
    }
  }
}