$primary-color: #FF9400;
$secondary-color: #0F0F32;
$background-color: rgb(245, 245, 255);

@mixin tableRowOdd {
  color: $secondary-color;
  background-color: lighten($secondary-color,  80%);
}

@mixin tableRowEven{
  color: $secondary-color;
  background-color: lighten($secondary-color,  90%);
}

@mixin tableHeader{
  color: $secondary-color;
  background-color: lighten($secondary-color,  70%);
}

@mixin tableActiveRow{
  color: $primary-color;
  background-color: lighten($secondary-color,  40%);
}

@mixin tableHoverRow{
  color: $secondary-color;
  background-color: lighten($secondary-color,  60%);
}

@mixin tableBorderInside{
  border: 1px solid $secondary-color;
  border-collapse: collapse;
}

@mixin tableBorderOutside{
  border: 2px solid $secondary-color;
  border-collapse: collapse;
}

@mixin buttonPagination{
  border-radius: 30px;
  background-color: $secondary-color;
  border: none;
  color: $background-color;
  padding: 4px 12px;
  text-align: center;
  @include buttonAnim;
}

@mixin buttonAnim{
  &:active{
    transform: scaleX(0.8);
    transition: transform .5S ease-in-out .2s;
  }
}