@keyframes moveAway {
    0% {
        transform: translate(0, 0) rotate(0deg);
        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    }

    10% {
        transform: translate(-100px, -200px) rotate(360deg);
    }

    20% {
        transform: translate(-500px, 700px) rotate(0deg);
    }

    40% {
        transform: translate(-800px, 300px) rotate(360deg);
        background: linear-gradient(to right, orange, yellow, green, blue, indigo, violet, red);
    }

    50% {
        transform: translate(-100px, 350px) rotate(0deg);
    }

    60% {
        transform: translate(-555px, 100px) rotate(360deg);
        background: linear-gradient(to right, yellow, green, blue, indigo, violet, red, orange);
    }

    70% {
        transform: translate(100px, 666px) rotate(0deg);
    }

    80% {
        transform: translate(-1200px, -50px) rotate(360deg);
    }

    100% {
        transform: translate(-1200px, 2000px) rotate(0deg);
        background: linear-gradient(to right, green, blue, indigo, violet, red, orange, yellow);
    }
}

.btn-magic {
    background-color: #0F0F32;
    border-color: #0F0F32;
    color: white;
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
    cursor: default;
}

.button-move-away {
    animation-name: moveAway;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}