.couleur-1{
    background-color: #D40000;
}

.couleur-2{
    background-color: #F93A1F;
}
.couleur-3{
    background-color: #FF5E3B;
}
.couleur-4{
    background-color: #FF7F57;
    text-underline-offset: 5px;
    color: white;
    font-size: 1.5em;
}
.couleur-5{
    background-color: #ffe4d7;
}   
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #ffcec0; 
 }
body{
    background-color: #ffe4d7;
}
.navbar{
    letter-spacing: 1px;
}